/* start of dark mode */
html.dark-mode {
    background-color: white;
    /* background-image: linear-gradient(to bottom, #abf88274, #a541fc58); */
}
body.dark-mode {
    background-color: transparent;
    /* background-image: linear-gradient(to bottom, #abf88274, #a541fc58); */
}

body.dark-mode h1,
body.dark-mode h1 i, /* Explicitly target the <i> tag inside <h1> */
body.dark-mode a,
body.dark-mode p,
body.dark-mode li,
body.dark-mode .project h2{
    color: black !important; /* Change text color to white for dark mode for better visibility */
}

body.dark-mode li,
body.dark-mode #homeLettersD h1,
body.dark-mode #homeLettersD h2{
    border-bottom: 1px solid black !important;
}

body.dark-mode #homePageStartContent {
    border-right-color: black; /* Change the border color to black in dark mode */
}

body.dark-mode #homeLetters > div > h1:last-child,
body.dark-mode #homeLetters > div > h1:first-child,
body.dark-mode #homeLettersM > div > h1:last-child,
body.dark-mode #homeLettersM > div > h1:first-child{
    border-bottom: 5px solid black !important;
}

body.dark-mode #project1::before,
body.dark-mode #project2::before,
body.dark-mode #project3::before,
body.dark-mode #project4::before,
body.dark-mode #project5::before,
body.dark-mode #project6::before,
body.dark-mode #project7::before,
body.dark-mode #project8::before,
body.dark-mode #project9::before,
body.dark-mode #project10::before{
    opacity: 0.7; /* Adjust opacity as needed */
}

body.dark-mode #footerLetters h1{
    border-bottom: 1px solid black !important;
}

/* end of dark mode */

html{
    max-width: 100vw;
    font-family: 'raleway', sans-serif;
    overflow-x: hidden;
    background-color: #121212;
}

/* Hides the scrollbar visually but allows functionality */
html::-webkit-scrollbar {
    width: 0px; /* Removes scrollbar space for WebKit browsers */
    background: transparent; /* Optional: just in case there's a background */
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    min-height: 100vh;       /* Minimum height of 100% of the viewport */
    margin: 0;               /* Removes the default margin */
    padding: 0;              /* Removes the default padding */
    width: 90%;
    flex-direction: column;  /* Aligns content vertically if multiple items */
    background-color: transparent;
    margin-left: 5%;
}

/* start of homePage */
#homePage{
    display: flex;
    width: 100%;
}
    #background {
        width: 30%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1; /* Ensures it stays behind other content */
        opacity: 0.2;
        pointer-events: none;
        transition: transform 2s ease-out;
        transform-origin: center;
    }

    #homePage1{
        width: 100%;
    }

#homePageStartContent{
    margin-top: 0;
    width: 100%;
    border-radius: 3%;
}

    #homePageStartContent h1{
        margin: 0%;
        padding: 0%;
        text-align: left;
        width: 50%;
        color: white;
        font-size: 7em;
        text-transform: uppercase;
        font-weight: 800;
    }

    #secondRow h1{
        cursor: pointer;
    }

    #secondRow h1:hover{
        background-color: rgba(255, 255, 255, 0);
        color: #AFFC41 ;
        }

        
    #homePageStartContent h2 {
        pointer-events: none;
        position: absolute; /* Make the position absolute to move freely */
        left: 0;
        white-space: nowrap; /* Ensure the text stays in a single line */
        animation: moveRight 15s linear infinite; /* Adjust timing as needed */
        margin-top: 5%;
        width: auto; /* Adjust width to fit content */
        color: #AFFC41;
        font-size: 4em;
        text-transform: uppercase;
        font-weight: 900;
        padding-bottom: 5%;
        font-family: "El Messiri", sans-serif;
        margin-bottom: 5%;
    }

#homeLetters {
    margin-top: 11%;
    padding: 0%;
    height: 100vh;
}

    #homeLetters > div { /* Targets each row within #homeLetters */
        display: flex;
        justify-content: space-between; /* Positions children at either end with maximum space between */
        width: 100%; /* Ensures each row takes the full width of #homeLetters */
    }

    #homeLetters > div > h1:first-child {
        text-align: left; /* Aligns the first h1 text to the left */
        margin-right: auto; /* Pushes everything else to the right */
        border-bottom: 5px solid white;
    }

    #homeLetters > div > h1:last-child {
        text-align: right; /* Aligns the second h1 text to the right */
        margin-left: auto; /* Pushes everything else to the left */
        border-bottom: 5px solid white;
    }

#firstRow{
    margin-bottom: 2%;
}

    #firstRow h1{
        font-weight: 200 !important;
        font-size: 5em !important;
    }

#homePageAddons{
    position: absolute;
    top: 80%;
    left: 5%;
    padding: 0.1%;
    width: 90%;
    text-align: left;
    margin-top: 5%;
    border-radius: 1em;
}

    #homePageAddons ul {
        display: flex; /* This will lay out the <li> items in a row */
        justify-content: space-between; /* This spreads the items evenly with space around them */
        padding: 0;
    }

    #homePageAddons li{
        list-style-type: none;
        color: white;
        padding: 0;
        text-align: left;
        font-size: 1em;
        font-weight: 200;
        border-bottom: 2px solid white;
        text-transform: uppercase;
    }

#homePageArtistDescription{
    display: none;
    position: absolute; /* Allows for random positioning and dragging */
    background-color: #AFFC41;
    padding: 2%; /* Adds some padding around the content */
    border-radius: 10px; /* Optional: Rounds the corners */
    z-index: 100; /* Ensures it's above other content */
    cursor: grab; /* Indicates the div can be dragged */
    width: 20%; /* Prevents the div from being too wide */
    box-sizing: border-box; /* Ensures padding doesn't add to the width */
}    
    #homePageArtistDescription p{
        font-size: 1.5em; /* Adjust font size as needed */
        font-weight: 400;
        padding-top: 5%;
        color: black;
        text-align: center;
    }    

    .close {
        position: absolute;
        top: 7%;
        right: 5%;
        cursor: pointer; /* Indicates the image can be clicked */
        width: 40px; /* Adjust size as needed */
        height: 40px; /* Adjust size as needed */
    }


    #homePage2{
        margin-top: 4%;
        width: 100%;
        margin-left: 5%;
    }
    #homePageStartContentD{
        border-radius: 3%;
        width: 100%;
    }
    
        #homePageStartContentD h1{
            margin: 0%;
            padding: 0%;
            text-align: left;
            width: 50%;
            color: white;
            font-size: 1.5em;
            text-transform: uppercase;
            font-weight: 400;
        }
            
        #homePageStartContentD h2 {
            pointer-events: none;
            display: block;
            position: absolute; /* Make the position absolute to move freely */
            z-index: 100;
            white-space: nowrap; /* Ensure the text stays in a single line */
            animation: moveRight 15s linear infinite; /* Adjust timing as needed */
            width: auto; /* Adjust width to fit content */
            color: #AFFC41;
            font-size: 4em;
            text-transform: uppercase;
            font-weight: 900;
            font-family: "El Messiri", sans-serif;
            margin-bottom: 5%;
        }
    
        #homePageStartContentD a:hover {
            color: #AFFC41;
        }
    
    #homeLettersD {
        padding: 0%;
        height: 100vh;
    }
    
        #homeLettersD > div { /* Targets each row within #homeLetters */
            display: flex;
            justify-content: space-between; /* Positions children at either end with maximum space between */
            width: 100%; /* Ensures each row takes the full width of #homeLetters */
            margin-bottom: 5%;
        }
    
        #homeLettersD > div > h1:first-child {
            text-align: left; /* Aligns the first h1 text to the left */
            margin-right: auto; /* Pushes everything else to the right */
            border-bottom: 1px solid white;
        }
    
        #homeLettersD > div > h1:last-child {
            text-align: right; /* Aligns the second h1 text to the right */
            margin-left: auto; /* Pushes everything else to the left */
            border-bottom: 1px solid white;
        }
    
    #firstRowD{
        margin-bottom: 2%;
    }
    
        #firstRowD h1{
            font-weight: 200;
            font-size: 1.5em ;
        }

    #homePage2 a{
        cursor: pointer;
    }    
    
    #homePageArtistDescriptionD{
        display: block;
        position: absolute; /* Allows for random positioning and dragging */
        background-color: #aefc4100;
        top: 52%;
        border: 5px solid #AFFC41;
        border-radius: 1em; /* Optional: Rounds the corners */
        width: 37%; /* Prevents the div from being too wide */
    
    }    
        #homePageArtistDescriptionD p{
            line-height: 1.5;
            font-size: 1em; /* Adjust font size as needed */
            color: white;
            padding: 3%;
        }

    
    
@keyframes moveRight {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }

/* start of homePage */

/* start of homePage mobiles */
#homePageMobile{
    display: none;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: fit-content;
}

#backgroundMobile {
    position: absolute; /* Allows precise positioning behind content */
    top: 0;
    left: 0;
    width: 100%; /* Cover the full width */
    z-index: -1; /* Ensures it's rendered behind other content */
    opacity: 0.3;
}

#homePageStartContentM{
    padding-top:10%;
    width: 90%;
    margin-left: 5%;
    /* border-right: 20px solid #AFFC41; */
    border-radius: 3%;
    z-index: 1;
}

    #homePageStartContentM h1{
        margin: 0%;
        padding: 0%;
        text-align: left;
        width: 50%;
        color: white;
        font-size: 2em;
        text-transform: uppercase;
        font-weight: 800;
    }
        
    #homePageStartContentM h2 {
        pointer-events: none;
        display: block;
        position: absolute; /* Make the position absolute to move freely */
        z-index: 100;
        white-space: nowrap; /* Ensure the text stays in a single line */
        animation: moveRight 15s linear infinite; /* Adjust timing as needed */
        width: auto; /* Adjust width to fit content */
        color: #AFFC41;
        font-size: 4em;
        text-transform: uppercase;
        font-weight: 900;
        font-family: "El Messiri", sans-serif;
        margin-bottom: 5%;
    }

    #homePageStartContentM a:hover {
        color: #AFFC41;
    }

#homeLettersM {
    padding: 0%;
    height: 100vh;
}

    #homeLettersM > div { /* Targets each row within #homeLetters */
        display: flex;
        justify-content: space-between; /* Positions children at either end with maximum space between */
        width: 100%; /* Ensures each row takes the full width of #homeLetters */
    }

    #homeLettersM > div > h1:first-child {
        text-align: left; /* Aligns the first h1 text to the left */
        margin-right: auto; /* Pushes everything else to the right */
        border-bottom: 5px solid white;
    }

    #homeLettersM > div > h1:last-child {
        text-align: right; /* Aligns the second h1 text to the right */
        margin-left: auto; /* Pushes everything else to the left */
        border-bottom: 5px solid white;
    }

#firstRowM{
    margin-bottom: 2%;
}

    #firstRowM h1{
        font-weight: 200 !important;
        font-size: 5em !important;
    }

#homePageArtistDescriptionM{
    display: block;
    position: absolute; /* Allows for random positioning and dragging */
    background-color: #aefc4100;
    top: 45%;
    /* border: 5px solid #AFFC41; */
    border-radius: 1em; /* Optional: Rounds the corners */
    width: 90%; /* Prevents the div from being too wide */

}    
    #homePageArtistDescriptionM p{
        font-family: "Inter", sans-serif;
        line-height: 1.5;
        font-size: 1.1em; /* Adjust font size as needed */
        color: white;
        font-weight: 100;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    #firstRowM, #secondRowM, #thirdRowM{
        display: none !important;
    }

    #menu{
        display: none;
    }
    
    #menuToggle {
        display: none;
        position: fixed;
        top: 6%;
        right: 6%;
        background: none; /* Removes the default button background */
        border: none; /* Removes the default button border */
        padding: 0; /* Removes the default button padding */
        cursor: pointer; /* Changes the cursor to indicate it's clickable */
        z-index: 2;
    }
    
    #menuToggle img {
        width: 3em; /* Adjust based on your image size */
        height: auto; /* Keeps the aspect ratio of the image */
        box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
    
    #sideMenu {
        display: none;
        position: fixed;
        top: 0;
        left: 0em; /* Start off-screen */
        width: 100%;
        height: 100%;
        background-color: #cececeeb; /* Or any color */
        z-index: 1000;
    }
    
    #mobileNavLinks{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;
        font-family: "Noto Sans", sans-serif;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    #mobileNavLinks li{
        list-style: none;
        text-align: left;
        text-decoration: none;
        color: #AFFC41;
        font-size: 5em;
        font-weight: 900;
        text-decoration: underline;
    
    }
    
    #mobileNavLinks a{
        padding: 0.5em 0.6em;
        text-decoration: none;
        color: #AFFC41;
        transition: color 0.3s;
        text-align: left;
    }
    
    /* Close button styling */
    #closeMenu {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: none;
        border: none;
        cursor: pointer
    }
    
    #closeMenu img {
        width: 4em; /* Adjust based on your image size */
        height: auto; /* Keeps the aspect ratio of the image */
    }    

    .no-scroll {
        overflow: hidden; /* Disables scrolling on the body */
        height: 100vh; /* Fixes the body height to the viewport height */
    }

/* start of Slider styling */
.theme-slider {
    z-index: 2;
    position: absolute;
    top: 29%;
    right: 5%;
    display: block;
    display: flex;
    justify-content: left; /* Aligns children (the slider) to the end (right) */
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 38px;
        padding-left: 1em;
    }

    .switch input { 
        opacity: 0; /* Makes the actual checkbox invisible */
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent; /* Default slider background */
        border: 2px solid white;
        -webkit-transition: .4s; /* Smooth transition for the background color */
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 5px;
        right: 6px;
        bottom: 4px;
        background-color: white; /* Slider handle color */
        -webkit-transition: .4s; /* Smooth transition for the slider handle */
        transition: .4s;
    }


    input:checked + .slider {
        background-color: transparent;
        border: 2px solid black; /* Slider background when checked */
    }

    input:checked + .slider:before {
        background-color: black;
        -webkit-transform: translateX(26px); /* Moves the slider handle to the right when checked */
        -ms-transform: translateX(26px);
        transform: translateX(46px);
    
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px; /* Rounded corners for the slider */
    }

    .slider.round:before {
        color: #EC3AAF;
        border-radius: 34px /* Circular slider handle */
    }
/* End of slider styling */

/* start of projectssPage section */
#projectsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 100%; /* Adjust based on layout */
}

#projectsList {
    display: flex;
    flex-wrap: wrap; /* Allows projects to wrap to the next line as needed */
    justify-content: space-between; /* Distributes space around items */
    align-items: flex-start; /* Aligns items at the start of the cross axis */
    gap: 5%; /* Adjust as needed, adds space between projects */
    width: 100%; /* Takes up the full width of its parent */
    margin: auto;
}

.project {
    position: relative;
    flex: 1; /* Allows the project to grow and fill the space */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    max-width: 45vw;
    min-height: 63vh;
    margin-bottom: 4%;
    transition: all 0.3s ease; /* Smooth transition for expanding height */
    border: 3px solid #AFFC41;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}

.projects-header {
    width: 100%;
    cursor: pointer;
    min-height: fit-content;
    border-radius: 0.9em;
}

.projectTitle {
    padding: 10%;
    width: 90%;
    font-family: "Noto Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Ensures the title items are stacked and aligned to the left */
    margin-right: 5%;
}

.projectTitle h1,
.projectTitle h2{
    width: 90%;
    margin: 0 0; /* Adds some space between title elements */
    text-align: left;
}

.projectTitle h1 {
    line-height: 1;
    font-size: 4em;
    font-weight: 900;
    color: white; 
    padding-bottom: 1%;
}

.projectTitle h2 {
    font-size: 1.5em;
    font-weight: 100;
    color: white; 
    padding-bottom: 5%;
}

#project1, #project2, #project3, #project4, #project5, #project6 {
    position: relative; /* Establishes a stacking context for the pseudo-element */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

/* Common properties for all projects */
#project1::before, #project2::before, #project3::before, #project4::before,
#project5::before, #project6::before, #project7::before, #project8::before,
#project9::before, #project10::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3; /* Adjust opacity as needed */
    z-index: -1;
    border-radius: 0.9em;
}

/* Unique background images for each project */
#project1::before { background-image: url('../img/doThesePants/11.jpg'); }
#project2::before { background-image: url('../img/noc/1.png'); }
#project3::before { background-image: url('../img/motorchosis/2.jpg'); }
#project4::before { background-image: url('../img/shufa/1.jpg'); }
#project5::before { background-image: url('../img/canyouhearme/1.jpg'); }
#project6::before { background-image: url('../img/farah/1.png'); }
#project7::before { background-image: url('../img/hddn/3.png'); }
#project8::before { background-image: url('../img/video/1.png'); }
#project9::before { background-image: url('../img/moving/1.png'); }
#project10::before { background-image: url('../img/seesaw/1.jpg'); }



.projectShow{
    overflow: hidden;
    order: 3;
    padding-top: 0%;
    margin-bottom: 3%;
    min-height: fit-content;
}

.plusImg {
    position: absolute;
    bottom: 5%; /* Adjust as needed */
    right: 5%; /* Adjust as needed */
    width: 10%; /* Adjust the size of the plus image */
    transition: transform 0.3s ease-in-out;
    /* No need for 'align-self: flex-end;' since it's positioned absolutely */
}

.project > a {
    display: block;
    flex-grow: 1; /* Allow the link to fill the container, pushing the image to the right */
    display: flex;
    justify-content: space-between; /* Separate text and plus image */
    align-items: center; /* Center items vertically within the 'a' tag */
}

/* start of project 1 */
#pants, #network, #shufa, #farah, #motorchosis, #canYouHearMe, #hddn, #video, #moving, #seesaw {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns content to the start, affecting vertical alignment */
    width: 100%;
    margin-top: 3%;
    min-height: fit-content;
}

#pants img, #network img, #shufa img, #farah img, #motorchosis img,
#canYouHearMe img, #hddn img, #video img, #moving img, #seesaw img,
#video iframe, #moving video, #seesaw2 img {
    width: 100%;
    margin-bottom: 2%;
}

#pantsText, #networkText, #shufaText, #farahText, #motorchosisText,
#canYouHearMeText, #hddnText, #videoText, #movingText, #seesawText {
    padding-top: 2%;
    width: 90%;
    margin: auto;
    text-align: left;
    min-height: fit-content;
    padding-bottom: 5%;
}

#pantsText p, #networkText p, #shufaText p, #farahText p, #motorchosisText p,
#canYouHearMeText p, #hddnText p, #videoText p, #movingText p, #seesawText p {
    font-size: 1.2em;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    color: white;
}

#pantsText a, #networkText a, #shufaText a, #farahText a, #motorchosisText a,
#canYouHearMeText a, #hddnText a, #videoText a, #movingText a, #seesawText a {
    text-decoration: none;
    padding: 0.1em;
    font-size: 1em;
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    color: white;
}

#pants2, #pants3, #pants4, #pants5, #seesaw2{
    display: flex;
    justify-content: space-between; /* Ensures even spacing */
    height: auto; /* Maintains aspect ratio */
    margin-top: 2%; /* Space between entries */
}

#pants2 img, #pants3 img, #pants4 img, #pants5 img{
    width: 49%; /* Each image takes up roughly half of the container width */
    height: auto; /* Maintains the aspect ratio of the images */
}
/* end of project 1 */

#farah video, #shufa video {
    width: 100%;
    margin-bottom: 2%;
}


#video iframe, #hddn iframe{
    width: 100%;
    margin-bottom: 2%;
}


#moving video {
    margin-bottom: 2%;
}

.video-pair {
    display: flex;
    justify-content: space-between; /* Aligns children to the extreme ends */
    width: 100%; /* Ensures the container spans the entire width of its parent */
}

.video-pair video {
    width: 49%; /* Adjusted width to allow for spacing */
}

#seesaw2{
    justify-content: space-between; /* Distributes space between the images equally */
    display: flex;
    margin-top: 2%; /* Adds space between each div */
}

#seesaw2 img{
    width: 49%; /* Each image takes up roughly half of the container width */
    height: auto; /* Maintains the aspect ratio of the images */
}

/* end of servicesPage section */

/* start of footer section */
#footer {
    background-color: transparent;
    width: 100%;
}

#footer3{
    margin-top: 2%;
}
#footerContent{
    border-radius: 3%;
    width: 100%;
}

    #footerContent h1{
        margin: 0%;
        padding: 0%;
        text-align: left;
        width: 50%;
        color: white;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: 400;
    }

    #footerContent a{
        text-decoration: none;
        color: white;
    }

    #footerContent a:hover {
        color: #AFFC41;
    }

#footerLetters {
    padding: 0%;
    height: 37vh;
}

    #footerLetters > div { /* Targets each row within #homeLetters */
        display: flex;
        justify-content: space-between; /* Positions children at either end with maximum space between */
        width: 100%; /* Ensures each row takes the full width of #homeLetters */
        margin-bottom: 5%;
    }

    #footerLetters > div > h1:first-child {
        text-align: left; /* Aligns the first h1 text to the left */
        margin-right: auto; /* Pushes everything else to the right */
        border-bottom: 1px solid white;
    }

    #footerLetters > div > h1:last-child {
        text-align: right; /* Aligns the second h1 text to the right */
        margin-left: auto; /* Pushes everything else to the left */
        border-bottom: 1px solid white;
    }

#firstRowF{
    margin-bottom: 2%;
}

    #firstRowF h1{
        font-weight: 200;
        font-size: 1.5em ;
    }

#footer3 a{
    cursor: pointer;
}    
/* end of footer section */


/* start of mobile styling */
@media (max-width: 600px) {
    body{
        width: 100%;
        margin-left: 0;
    }
    #homePage{
        display: none;
    }

    #homePageMobile{
        display: block;
    }

    .theme-slider {
        top: 21rem;
        right: 5%;
    }

    #menu {
        display: block;
    }

    #menuToggle {
        display: block;
    }

    #sideMenu {
        display: none;
    }

    #homeLettersM {
        margin-top: 20%;
    }

    #firstRowM, #secondRowM, #thirdRowM {
        display: flex !important; /* Show mobile-specific rows in mobile view */
        justify-content: space-between; /* Adjust as needed */
        /* Additional styling here */
    }

    #firstRowM2, #secondRowM2, #thirdRowM2 {
        display: none !important; /* Hide desktop-specific rows in mobile view */
    }

    .projectTitle h1 {
        font-size: 3em;
    }
    
    .projectTitle h2 {
        font-size: 1em;
    }

    .project {
        min-width: 90vw;
        max-width: 90vw;
        margin-left: 4.5%;
        margin-bottom: 4%;
        min-height: fit-content;
    }
    
    .projects-header {
        width: 100%;
        cursor: pointer;
        min-height: fit-content;
        border-radius: 0.9em;
    }
    
    .projectTitle {
        width: 75%;
    }

    #pantsText p, #networkText p, #shufaText p, #farahText p, #motorchosisText p,
    #canYouHearMeText p, #hddnText p, #videoText p, #movingText p, #seesawText p {
        font-size: 1em;
    }

    #pants2, #pants3, #pants4, #pants5, #seesaw2{
        display: flex;
        justify-content: space-between; /* Ensures even spacing */
        height: auto; /* Maintains aspect ratio */
        margin-top: 2%; /* Space between entries */
    }
    
    #pants2 img, #pants3 img, #pants4 img, #pants5 img{
        width: 48%; /* Each image takes up roughly half of the container width */
        height: auto; /* Maintains the aspect ratio of the images */
    }

    #thirdRowF h1{
        font-size: 0.7em !important;
    }

    #footer{
        margin-top: 5%;
    }

    #footerLetters {
        padding: 0%;
        height: 16vh;
    }    

    #footerContent{
        border-radius: 3%;
        width: 90%;
        margin-left: 5%;
    }
    
        #footerContent h1{
            color: white;
            font-size: 1em;
        }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    body{
        width: 90%;
        margin-left: 5%;
    }
    #homePage{
        margin-top: 2%;
        display: flex;
        width: 100%;
    }

    #homePageMobile{
        display: none;
    }

    #background {
        width: 60%;
    }

    #homePage1{
        margin-top: 6%;
        width: 60%;
    }

    #homePageStartContent h1 {
        font-size: 5em;
    }

    #homeLettersD h1{
        font-size: 0.9em;
    }

    #homePage2{
        margin-top: 5%;
        display: block;
        width: 60%
    }

    #homePageArtistDescriptionD {
        top: 42%;
        left: 5%;
        width: 90%;
    }

    #homePageArtistDescriptionD p {
        line-height: 1.5;
        font-size: 1.8em;
        color: white;
        padding: 3%;
    }

    #homePageAddons {
        top: 90%;
    }

    #homePageAddons li {
        text-align: left;
        font-size: 0.6em;
    }

    .theme-slider {
        top: 13%;
        right: 5%;
    }

    .projectTitle h1 {
        font-size: 2em;
    }
    
    .projectTitle h2 {
        font-size: 1em;
    }

    .project {
        min-width: 42vw;
        max-width: 42vw;
        margin-bottom: 4%;
        min-height: 20vh;
    }
    
    .projects-header {
        width: 100%;
        cursor: pointer;
        min-height: fit-content;
        border-radius: 0.9em;
    }
    
    .projectTitle {
        width: 75%;
    }

    #pantsText p, #networkText p, #shufaText p, #farahText p, #motorchosisText p,
    #canYouHearMeText p, #hddnText p, #videoText p, #movingText p, #seesawText p {
        font-size: 1em;
    }

    #pants2, #pants3, #pants4, #pants5, #seesaw2{
        display: flex;
        justify-content: space-between; /* Ensures even spacing */
        height: auto; /* Maintains aspect ratio */
        margin-top: 2%; /* Space between entries */
    }
    
    #pants2 img, #pants3 img, #pants4 img, #pants5 img{
        width: 48%; /* Each image takes up roughly half of the container width */
        height: auto; /* Maintains the aspect ratio of the images */
    }

    #footerLetters{
        height: fit-content;
    }

  }    

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1360px) {
    body{
        width: 90%;
        margin-left: 5%;
    }
    #homePage{
        margin-top: 2%;
        display: flex;
        width: 100%;
    }

    #homePageMobile{
        display: none;
    }

    #background {
        width: 60%;
    }

    #homePage1{
        margin-top: 10%;
        width: 50%;
    }

    #homePage2{
        margin-top: 5%;
        display: block;
        width: 50%
    }

    #homeLettersD h1{
        font-size: 1.4em;
    }

    #homePageArtistDescriptionD {
        top: 45%;
        left: 5%;
        width: 90%;
    }

    #homePageArtistDescriptionD p {
        line-height: 1.5;
        font-size: 2em;
        color: white;
        padding: 3%;
    }

    #homePageAddons {
        top: 90%;
    }

    #homePageAddons li {
        text-align: left;
        font-size: 0.8em;
    }

    .theme-slider {
        top: 16%;
        right: 5%;
    }
    
    .project {
        min-width: 41.5vw;
        max-width: 45vw;
        margin-bottom: 4%;
        min-height: 20vh;
    }

    #footerLetters{
        height: fit-content;
    }
  }    